# 토픽2. DataFrame 다루기

## 데이터 변형하기

### 01. DataFrame에 값 쓰기 1

In [1]:
import pandas as pd

In [2]:
iphone_df = pd.read_csv('iphone.csv', index_col = 0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [3]:
iphone_df.loc['iPhone 8', '메모리'] = '2.5GB'
iphone_df

                      출시일  디스플레이    메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7    2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5    3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2.5GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5    3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8    3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8    4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5    4GB  iOS 12.0     Yes

In [4]:
iphone_df.loc['iPhone 8', '출시 버전'] = 'iOS 10.3'
iphone_df

                      출시일  디스플레이    메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7    2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5    3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2.5GB  iOS 10.3      No
iPhone 8 Plus  2017-09-22    5.5    3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8    3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8    4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5    4GB  iOS 12.0     Yes

In [5]:
iphone_df.loc['iPhone 8'] = ['2016-09-22', '4.7', '2GB', 'iOS 11.0', 'No']
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8       2016-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes

In [6]:
iphone_df['디스플레이'] = ['4.7 in', '5.5 in', '4.7 in', '5.5 in', '5.8 in', '5.8 in', '6.5 in']
iphone_df

                      출시일   디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16  4.7 in  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16  5.5 in  3GB  iOS 10.0      No
iPhone 8       2016-09-22  4.7 in  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22  5.5 in  3GB  iOS 11.0      No
iPhone X       2017-11-03  5.8 in  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21  5.8 in  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21  6.5 in  4GB  iOS 12.0     Yes

In [8]:
iphone_df['Face ID'] = 'Yes'
iphone_df

                      출시일   디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16  4.7 in  2GB  iOS 10.0     Yes
iPhone 7 Plus  2016-09-16  5.5 in  3GB  iOS 10.0     Yes
iPhone 8       2016-09-22  4.7 in  2GB  iOS 11.0     Yes
iPhone 8 Plus  2017-09-22  5.5 in  3GB  iOS 11.0     Yes
iPhone X       2017-11-03  5.8 in  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21  5.8 in  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21  6.5 in  4GB  iOS 12.0     Yes

### 02. DataFrame에 값 쓰기 2

In [15]:
import pandas as pd

In [16]:
iphone_df = pd.read_csv('iphone.csv', index_col = 0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [11]:
iphone_df[['디스플레이', 'Face ID']] = 'x'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16     x  2GB  iOS 10.0       x
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8       2017-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X       2017-11-03     x  3GB  iOS 11.1       x
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [12]:
iphone_df.loc[['iPhone 7', 'iPhone X']] = 'o'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8       2017-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X                o     o    o         o       o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [14]:
iphone_df.loc['iPhone 7' : 'iPhone X'] = 'o'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus           o     o    o         o       o
iPhone 8                o     o    o         o       o
iPhone 8 Plus           o     o    o         o       o
iPhone X                o     o    o         o       o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [18]:
iphone_df = pd.read_csv('iphone.csv', index_col = 0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [20]:
iphone_df.loc[iphone_df['디스플레이']>5] = 'p'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           p     p    p         p       p
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           p     p    p         p       p
iPhone X                p     p    p         p       p
iPhone XS               p     p    p         p       p
iPhone XS Max           p     p    p         p       p

In [22]:
iphone_df.iloc[[1, 3], [1, 4]] = 'v'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           p     v    p         p       v
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           p     v    p         p       v
iPhone X                p     p    p         p       p
iPhone XS               p     p    p         p       p
iPhone XS Max           p     p    p         p       p

### 06. index/columns 설정하기

In [38]:
import pandas as pd

In [39]:
liverpool_df = pd.read_csv('liverpool.csv', index_col = 0)
liverpool_df

                position  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [40]:
liverpool_df.rename(columns = {'position' : 'Position', 
                               'born':'Born', 
                               'number' : 'Number', 
                               'nationality' : 'Nationality'}, inplace = True)
liverpool_df

                Position  Born  Number Nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [41]:
liverpool_df.index.name = 'Player Name'
liverpool_df

                Position  Born  Number Nationality
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [42]:
liverpool_df['Player Name'] = liverpool_df.index
liverpool_df

                Position  Born  Number Nationality      Player Name
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil  Roberto Firmino
Sadio Mane            FW  1992  no. 10     Senegal       Sadio Mane
Mohamed Salah         FW  1992  no. 11       Egypt    Mohamed Salah
Joe Gomez             DF  1997  no. 12     England        Joe Gomez
Alisson Becker        GK  1992  no. 13      Brazil   Alisson Becker

In [43]:
liverpool_df.set_index('Number', inplace = True)
liverpool_df

       Position  Born Nationality      Player Name
Number
no. 9        FW  1991      Brazil  Roberto Firmino
no. 10       FW  1992     Senegal       Sadio Mane
no. 11       FW  1992       Egypt    Mohamed Salah
no. 12       DF  1997     England        Joe Gomez
no. 13       GK  1992      Brazil   Alisson Becker